/application/config/database.php
# /application/config/config.php
# /uploads/cars_picture/*
/application/cache/*
# !/uploads/cars_picture/default.jpg
# /uploads/customers/*
# !/uploads/customers/default.jpg
# /uploads/drivers/*
# !/uploads/drivers/default.jpg
# /uploads/products/*
# !/uploads/products/default.jpg
# /uploads/users/*
# !/uploads/users/default.jpg
# /uploads/supplier/*
# !/uploads/supplier/default.jpg
# /uploads/file_dokumen/*
# !/uploads/file_dokumen/
# /uploads/purchase/*
# !/uploads/purchase/default.jpg
/uploads/qrcode/*
!/uploads/qrcode/default.png
